@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1lzq2n');
  src:  url('fonts/icomoon.eot?1lzq2n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1lzq2n') format('truetype'),
    url('fonts/icomoon.woff?1lzq2n') format('woff'),
    url('fonts/icomoon.svg?1lzq2n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdark:before {
  content: "\e902";
}
.icon-arrowlight:before {
  content: "\e900";
  color: #ddded0;
}
.icon-cross:before {
  content: "\e903";
}
.icon-logodark:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e904";
}
.icon-logotyp:before {
  content: "\e906";
}
