.best-of-week {
    background: $copper500;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        width: 50%;
        z-index: 1;
        background: $copper300;

        @media ($mlg) {
            display: none;
        }
    }

    .container {
        @media ($mlg) {
            padding: 0;
        }
    }

    .grid {
        position: relative;
        grid-template-columns: repeat(12, 1fr);
        z-index: 2;

        @media ($mlg) {
            display: flex;
            flex-direction: column;
        }
    }

    .photos-wrapper {
        grid-column: 1/7;
        margin-right: 64px;
        margin-top: 200px;
        margin-bottom: 200px;

        @media ($mlg) {
            margin: 84px 0;
            padding: 0 20px;
        }

        .photo-grid-one,
        .photo-grid-two {
            display: grid;
            grid-gap: 32px;

            @media ($mlg) {
                grid-gap: 18px;
            }
        }

        .photo-grid-one {
            grid-template-columns: 4fr 7fr;
            margin-bottom: 32px;

            @media ($mlg) {
                margin-bottom: 18px;
            }
        }

        .photo-grid-two {
            grid-template-columns: 7fr 4fr;
        }

        .img-wrapper {
            border-radius: 16px;
            overflow: hidden;
        }
    }
    .week-menu-wrapper {
        grid-column: 8/12;
        color: $green500;
        display: flex;
        align-items: center;
        @media ($mlg) {
            background: $copper300;
        padding: 0 20px;
        }
    }
    
    .week-menu {
        width: 100%;

        @media ($mlg) {
            
            padding: 64px 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .content {
            @media ($mlg) {
                grid-column: 2/12;
            }

            @media ($mmd) {
                grid-column: 1/13;
              
            }
        }

        .heading {
            font-family: $secondaryFont;
            font-size: 36px;
            font-weight: $fw400;
            margin-bottom: 32px;
        }

        .btn {
            margin-top: 64px;
        }
    }
}

.menu-list {
    .menu-list__item {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;

        &:last-of-type {
            margin-bottom: 0;
        }

        .name,
        .price {
            font-size: 16px;
            font-weight: $fw300;
        }

        .price {
            color: $copper500;
            margin-left: 32px;
        }
    }
}