.contact-form-section {
    background: $gray500;
    color: $green500;
    padding: 96px 0;

    @media ($mmd) {
        padding: 64px 0;
    }

    .grid {
        grid-template-columns: repeat(12, 1fr);

        @media ($mlg) {
            grid-gap: 40px;
        }

        @media ($mmd) {
            display: flex;
            flex-direction: column;
            grid-gap: 0;
        }
    }

    .heading-wrapper {
        grid-column: 2/7;

        @media ($mlg) {
            grid-column: 1/7;
        }

        .heading {
            font-family: $secondaryFont;
            font-size: 48px;
            font-weight: $fw400;
            line-height: 58px;

            @media ($mlg) {
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 52px;
            }
        }
    }

    .form-wrapper {
        grid-column: 8/12;

        @media ($mlg) {
            grid-column: 7/13;
        }
    }
}

// CONTACT FORM INPUTS
.md-inputs {
    .group {
        position: relative;
        margin-bottom: 32px;

        &:last-of-type {
            margin-bottom: 24px;
        }
    }

    input,
    textarea {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 1px solid $green500;
        background: $gray500;
        width: 100%;
        color: $green500;
        font-size: 16px;
        font-weight: $fw300;
    }

    input,
    textarea {
        &:focus {
            outline: none;
        }
    }

    /* LABEL ======================================= */
    label {
        color: $green400;
        font-size: 16px;
        font-weight: $fw300;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus~label,
    input.active~label,
    textarea:focus~label,
    textarea.active~label {
        top: -10px;
        font-size: 14px;
        color: $green500;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
    }

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: $green500;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus~.bar:before,
    input:focus~.bar:after,
    textarea:focus~.bar:before,
    textarea:focus~.bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
}

// CHECKBOX 
.checkbox-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox-group label {
    position: relative;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: $fw300;

    span {
        margin-left: 15px;
    }
}

.checkbox-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid $gray600;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    align-self: flex-start;
}

.checkbox-group input:checked+label:before {
    background: $green600;
    border: 2px solid $green600;
}

.checkbox-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid $gray400;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-wrapper {
    .btn {
        margin-top: 66px;

        @media ($mmd) {
            margin-top: 32px;
        }
    }
}