.faq-section {

    .heading-wrapper {
        border-bottom: 1px solid $lightBorder;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .heading {
        font-size: 64px;
        font-family: $secondaryFont;
        font-weight: $fw400;
    }

    .items-wrapper {
        .item {
            border-bottom: 1px solid $lightBorder;
        }
    }

    // QUESTION
    .item-question {
        .item-question__grid {
            display: grid;
            grid-template-columns: 120px 1fr 200px;

            .number {

                display: flex;
                border-radius: 50%;
                border: 1px solid $lightBorder;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 64px;
                    font-family: $secondaryFont;
                    font-weight: $fw400;
                    width: 120px;
                    height: 120px;
                    line-height: 1;
                    position: relative;
                    top: 5px;
                }
            }

            .question {
                display: flex;
                align-items: center;
                margin-left: 2rem;

                p {
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            .more-wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }

    // ANSWER 
.item-answer {
    display: none;
}
}
