.faq-section {
    padding-bottom: 0;

    .heading-wrapper {
        border-bottom: 1px solid $lightBorder;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .heading {
        font-size: 64px;
        font-family: $secondaryFont;
        font-weight: $fw400;
    }

    .items-wrapper {
        .item {
            border-bottom: 1px solid $lightBorder;
            &:last-of-type {
                border-bottom: 0;
            }
        }
    }

    // QUESTION
    .item-question {
        .item-question__grid {
            display: grid;
            grid-template-columns: 120px 1fr 200px;

            .number {

                display: flex;
                border-radius: 50%;
                border: 1px solid $lightBorder;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 64px;
                    font-family: $secondaryFont;
                    font-weight: $fw400;
                    width: 120px;
                    height: 120px;
                    line-height: 1;
                    position: relative;
                    top: 5px;
                }
            }

            .question {
                display: flex;
                align-items: center;
                margin-left: 2rem;

                p {
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            .more-wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }

    // ANSWER 
.item-answer {
    display: none;
}
}




// MODAL 
.modal {
    // background: rgba(0, 0, 0, 0.8);
    background: rgba($color: #525750, $alpha: 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    &.is-open {
        visibility: visible;
        opacity: 1;
    }
}

// MY MODAL CONTENT 
.modal__content {
    max-width: 980px;
    position: relative;
    text-align: center;
    .card {
        background: $baige;
        padding: 6rem 3rem;
        .btn {
            align-items: center;
        }
    }
    .close-icon-wrapper {
        position: absolute;
        top: 1rem;
        right: 1rem;
        button {
            background: none;
            border: none;
            padding: 0.5rem;
            cursor: pointer;

            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
        span {
            font-size: 24px;
        }
    }

    .modal-question {
        font-size: 48px;
        font-family: $secondaryFont;
        font-weight: $fw400;
        margin-bottom: 2rem;
    }
    .more {
        display: block;
        margin-top: 3rem;
        &:hover {
            text-decoration: underline;
        }
    }
}