.hero-section {
    border-bottom: 1px solid $lightBorder;
 
    .logotype-wrapper {
        margin-top: 2rem;
    }
    .icon-logotyp {
        font-size: 100px;
    }
    .text-wrapper {
        display: flex;
        align-items: center;

    }
    .hero-heading {
        font-size: 48px;
        font-family: $secondaryFont;
        font-weight: $fw400;
        line-height: 1.4;
    }
  
}