.about-section {
    overflow: hidden;
    .part-one {
        // padding-top: 8rem;
        .part-one__grid {
            display: grid;
            grid-template-columns: 4fr 3fr;

            .content-wrapper {
                z-index: 3;
                margin-top: 6rem;
                h1,h2 {
                    font-family: $secondaryFont;
                    font-weight: $fw400;
                }
                h1 {
                    font-size: 72px;
                }
                h2 {
                    font-size: 48px;
                    max-width: 730px;

                }
            }

            .image-wrapper {
                position: relative;
                img {
                    margin-left: 2rem;

                }
                .filter-image {
                    z-index: 3;
                    margin-top: 6rem;
                    &::after {
                        margin-left: 2rem;

                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    background: none;
                    border: 1px solid $lightBorder;
                    width: 990px;
                    height: 990px;
                    border-radius: 50%;
                    left: -445px;
                    top: -2rem;
                    z-index: 1;
                }
            }

        }
    }
    .part-two {
        margin-top: -8rem;
        position: relative;
        &::before{
            content: '';
            height: 1px;
            width: 200vw;
            background: $lightBorder;
            position: absolute;
            bottom: 280px;
            left: -2rem;
            // z-index: 999;
            transform: rotate(20deg);
            transform-origin: top left;
        }
        .part-two__grid {
            display: grid;
            grid-template-columns: 3fr 1fr 3fr;
            grid-template-areas: 'left . right';
            grid-gap: 2rem;
        }
        .left-wrapper {
            grid-area: left;

            .text-grid {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 2rem;
                margin-top: 8rem;
            }
        }
        .right-wrapper {
            grid-area: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .text-wrapper {
            margin-top: 16rem;
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 2fr 1fr;
            margin-bottom: 1rem;
        }
    }

    .part-three {
        margin-top: 2rem;
        .part-three__grid {
            display: grid; 
            grid-template-columns: 3fr 2fr 2fr;
            grid-gap: 2rem;
        }
        .right-wrapper {
            margin-top: 12rem;
        }
    }
}