// https://codepen.io/jecofish/pen/KKzJrwe 




// PLANY 
.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    .plan-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

    }



    .plan-desc,
    .plan-size {
        font-size: 18px;
        font-weight: $fw300;
        letter-spacing: 1px;
    }

    .plan-size {
        margin-top: 1rem;
    }

}
.plan-title {

    font-size: 32px;
    font-family: $secondaryFont;
    font-weight: $fw400;
    text-transform: uppercase;
}




/* ==== Table of DIVs with CSS Grid ==== VITAL CSS ==== */
.table-wrap {
    .double {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        .plan-title {
            text-align: right;
            align-self: flex-end;
        }
        p {
            text-align: left;
            align-self: flex-start; 
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
.table-grid {
    /* the table */
    display: grid;
    grid-template-rows: auto;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: auto;

}

.table-grid.fixed-header {
    max-height: 99vh;
    /* ^ max-height is only req'd for sticky/fixed header row */
}

.table-row {
    /* all table rows */
    display: grid;
    grid-template-columns: 480px repeat(3, 1fr);
    .cell {
        border-right: 1px solid $lightBorder;
        border-bottom: 1px solid $lightBorder;
        &:last-of-type {
            border-right: 0;
        }
    }
}

.table-row>div {
    /* the individual cells */
    align-self: center;
    text-align: center;
}

.fixed-col {
    /* the fixed cells */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 4;
    background: $baige;
}



.fixed-header .table-header {
    /* 	makes the header row fixed/sticky */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: $baige;
}

.details {
    .cell {
        height: 80px;
        padding: 1rem;
    }
    .cell-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 20px auto 120px;
        grid-gap: 1rem;
        align-items: center;
        span {
            text-align: right;
        }
        > span, p {
            font-size: 18px;
            text-transform: uppercase;
      
        }
        p {
            text-align: left;
        }
        .more {
            font-size: 18px;
            text-transform: none;
            span {
                font-size: 12px;
            }
        }

    }
}