// HEADER 
.main-header {
    background: $baige;
    position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
    border-bottom: 1px solid $lightBorder;

    @media (max-width: $mobileWidth) {
        position: fixed;
    }
}

.hamburger-wrapper {
    display: none;

    @media (max-width: $mobileWidth) {
        display: flex;
    }
}

.nav-primary {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $mobileWidth) {
        height: 100%;
    }
}

.menu {
    display: inline-flex;

    @media (max-width: $mobileWidth) {
        display: flex;
        flex-direction: column;
    }
}

.menu-item {
    text-transform: uppercase;
    margin: 1rem 0.5rem;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    @media (max-width: $mobileWidth) {
        margin: 0.5rem 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        font-size: 20px;
        font-weight: $fw300;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 0.5rem;

        @media (max-width: $mobileWidth) {
            padding-right: 0;
        }
    }
}

.menu-primary-menu-container {
    @media (max-width: $mobileWidth) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#menu-primary-menu {
    margin-right: 1rem;

    @media (max-width: $mobileWidth) {
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: right;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

#menu-social-menu {
    border-left: 1px solid $lightBorder;
    padding-left: 1rem;
    .menu-item a {
        padding-right: 0;
      }

    @media (max-width: $mobileWidth) {
        display: none;
    }
}

#mobile-social-menu {
    display: none;
    text-align: right;

    @media (max-width: $mobileWidth) {
        display: flex;
        margin-bottom: 4rem;
    }

    @media (min-height: 600px) {
        margin-bottom: 6rem;
    }

    .menu-item {
        @media (max-width: $mobileWidth) {
            margin: 0;
        }

        a {
            text-transform: none;
        }
    }
}

.menu-wrapper {
    .top-part {
        display: none;

        @media (max-width: $mobileWidth) {
            display: block;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        .icon-logodark {
            font-size: 40px;
        }
    }

    .bot-part {
        @media (max-width: $mobileWidth) {
            display: none;
        }

        .container-in {
            @media (max-width: $mobileWidth) {
                width: 100%;
            }
        }
    }
}

.menu-wrapper.js-is-open {
    @media (max-width: $mobileWidth) {
        height: 100vh;

        .top-part {
            background: $white;
        }

        .bot-part {
            display: flex;
            height: calc(100vh - 60px);
            background: $white;
        }
    }
}

.top-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

// HAMBURGER 
.hamburger {
    font: inherit;
    display: flex;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger.js-is-active .hamburger-inner,
.hamburger.js-is-active .hamburger-inner:after,
.hamburger.js-is-active .hamburger-inner:before {
    background-color: $black;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 32px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    /* border-radius: 4px; */
    background-color: $black;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}

.hamburger--spin .hamburger-inner {
    z-index: 999;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .22s
}

.hamburger--spin .hamburger-inner:before {
    transition: top .1s ease-in .25s, opacity .1s ease-in
}

.hamburger--spin .hamburger-inner:after {
    transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--spin.js-is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(225deg)
}

.hamburger--spin.js-is-active .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
    opacity: 0
}

.hamburger--spin.js-is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg)
}