.page {
background: $baige;
}
.page-grid {
    display: grid;
    grid-template-columns: 1fr 7fr;

    @media (max-width: $mobileWidth) {
        display: flex;
        flex-direction: column;
    }
}

aside {
    position: relative;
    width: 100%;
    background: $baige;
    border-right: 1px solid $lightBorder;
    display: flex;
    justify-content: center;

    @media (max-width: $mobileWidth) {
        display: none;
    }

    .aside-content {
        width: 120px;
        height: 100vh;
        position: sticky;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .top {
        padding-top: 2rem;

        a {
            font-size: 20px;
            letter-spacing: 1px;
            text-decoration: none;
            color: $black;
        }
    }

    .mid {
        .page-title {
            text-transform: uppercase;
            font-weight: $fw300;
            font-size: 18px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
        }
        a {
            text-decoration: none;
            color: $black;
        }

    }

    .bot {
        padding-bottom: 2rem;

        a {
            text-decoration: none;
            color: $black;
        }

        span {
            font-size: 100px;
        }
    }
}

.standard-section {
    padding: 2rem 0;
}

.standard-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 2rem;
}

.filter-image {
    position: relative;

    &::after {
        background-color: rgba($color: #DDDED0, $alpha: 1);
        content: "";
        mix-blend-mode: multiply;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        transition: all 0.5s;
        opacity: 1;
    }

    &:hover {
        img {
            filter: grayscale(0);
        }

        &::after {

            opacity: 0;
        }
    }
}

img {
    filter: grayscale(1);
    transition: all 0.5s;
}

.page-bot {
    background: $darkgreen;

    .bot__aside {

        border-right: 1px solid #B2B3AA;
    }
}

main {

    @media (max-width: $mobileWidth) {
        margin-top: $headerMobileHeight;
        
    }
}