.page-grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
    min-height: 3000px;

    @media (max-width: $mobileWidth) {
        display: flex;
        flex-direction: column;
    }
}

aside {
    position: relative;
    width: 100%;
    background: $baige;
    border-right: 1px solid $lightBorder;
    display: flex;
    justify-content: center;

    @media (max-width: $mobileWidth) {
        display: none;
    }

    .aside-content {
        width: 120px;
        height: 100vh;
        position: sticky;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .top {
        padding-top: 2rem;

        p {
            font-size: 20px;
        }
    }

    .mid {
        .page-title {
            text-transform: uppercase;
            font-weight: $fw300;
            font-size: 18px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg);
        }
    }

    .bot {
        padding-bottom: 2rem;

        span {
            font-size: 100px;
        }
    }
}

.standard-section {
    padding: 2rem 0;
}

.standard-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 2rem;
}

.filter-image {
    position: relative;
    &::after {
        background-color: rgba($color: #DDDED0, $alpha: 1);
        content: "";
        mix-blend-mode: multiply;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        transition: all 0.5s ;
        opacity: 1;
    }
    &:hover {
        img {
            filter: grayscale(0);
        }
        &::after {

            opacity: 0;
        }
    }
}
img {
    filter: grayscale(1);
    transition: all 0.5s ;
}



// MODAL 
.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.is-open {
        visibility: visible;
        opacity: 1;
    }
}

// MY MODAL CONTENT 
.modal__content {
    max-width: 640px;
    position: relative;
    .card {
        background: #fff;
        border-radius: 8px;
        padding: 3rem;
        .btn {
            align-items: center;
        }
    }
    .close-icon-wrapper {
        position: absolute;
        top: 1rem;
        right: 1rem;
        button {
            background: none;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            svg {
                transition: all 0.2s;
                transform: scale(1.5);
            }
            &:hover {
                svg {
                    fill: red;
                }
            }
        }
    }
}